

h3{
    font-size: small;
    text-align: center;
    color: black;
    padding: 0px;
    margin: 0;
}


section img {
    width: 300px;
    height: 300px;
    max-width: 100%;
    height: auto;
    padding-bottom: 5px;
}


/************************ Etilos Alert */
#contenAlerts{
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    align-items: center;

}
.conten_alert{
  width: 200px; 
  height: 200px;
  padding: 20px;
  margin: 10px; 
  }
  /* ************ RESPONSABILIDAD  ALERT, pasa a columna en patellas pequeñas*/
@media (max-width: 768px) {
    #contenAlerts{
      flex-direction: column;
    }
  }

#botonIcono1, #botonIcono2, #botonIcono3{
    width: 60px;
    height: 60px;
    margin: 0 auto;
    display: block;
    background-color: white;
    border: none;
}

#iconoAlert{
    font-size: 30px;
    color: red;
    background-color: white;
}
#iconoAlert:hover{
    background-color:black;
    color: white;
  
}
#iconoAlert2{
    font-size: 30px;
    color:blue;
    background-color: white;
}
#iconoAlert2:hover{
    background-color:black;
    color: yellow;
}
#iconoAlert3{
    font-size: 30px;
    color: yellow;
    background-color: white;
}
#iconoAlert3:hover{
    background-color:black;
    color: rgb(21, 242, 21);
}

/* Estilo icono link */
figcaption i{
    color: black;
}
strong a{
    text-decoration: none; 
    color: inherit; 
}
ul {
    list-style-type: none; 
  }




