
  #carousel-container {
    position: relative;
    width: 700px;
    overflow: hidden;
  }

  #carousel {
    width: 100%;
    display: flex;
    transition: transform 0.5s ease-in-out;
  }

  #carousel img {
    width: 100%;
  }

  #nav-buttons {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
  }

  button {
    padding: 5px 10px;
    cursor: pointer;
  }
