html, body {
    max-width: 1200px;
    margin: 0% auto;
    padding: 0;
}

h1 {
    font-size: 4em;
    text-align: center;
}

h2 {
    font-size: 2em;
    margin-top: 0px;
}

h1, h2 {
    color: midnightblue;
}

a {
    color: darkslateblue;
}

/***********************/
/**     Navegació     **/
/***********************/
nav[role="navigation"] {
    /* posició d'elements */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2em;
    /* colors i text */
    background-color: darkblue;
    color: white;
}

nav ul {
    padding: 0;
}

nav[role="navigation"] ul li {
    display: inline;
    padding-inline: 1em;
}

nav[role="navigation"] a {
    color: wheat;
    text-decoration: none;
}

nav[role="navigation"] a:hover {
    color: white;
    text-decoration: underline;
}

nav > ul li ul { 
    display: none; 
}
nav > ul li:hover ul { 
    display: block;
}

.has-submenu button {
    padding: 0;
    background-color: transparent;
    border: 0;
}

.has-submenu button > span {
    display: inline-block;
    width: 0.8em;
    height: 0.8em;
    background: url(/img/icones/dropdown-inactive.png) center;
    background-size: contain;
}

.has-submenu:hover button > span {
    background: url(/img/icones/dropdown-active.png) center;
    background-size: contain;
}

form[name="cerca"] input, form[name="cerca"] button {
    padding: 0.3em 0.5em;
}

form[name="cerca"] button {
    background-color: skyblue;
    color: navy;
}

/***********************/
/**     Seccions      **/
/***********************/
section {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 1em;
}
section div {
    width: 48%;
}

section img {
    width: 100%;
}

/****************************/
/**     Classes comuns     **/
/****************************/
.peu-foto {
    margin-top: 0.1em;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
}

div.full-width {
    width: 100%;
}