html, body {
    max-width: 1200px;
    margin: 0% auto;
    padding: 0;
}

nav {
    /* posició d'elements */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2em;
    /* colors i text */
    background-color: darkblue;
    color: white;
}

nav ul {
    padding: 0;
}

nav ul li {
    display: inline;
    padding-inline: 1em;
}

nav a {
    color: wheat;
    text-decoration: none;
}

nav a:hover {
    color: white;
    text-decoration: underline;
}

form[name="cerca"] input, form[name="cerca"] button {
    padding: 0.3em 0.5em;
}

form[name="cerca"] button {
    background-color: turquoise;
    color: white;
}