/*Configuracións generals*/
html,
body,
header,
main {
    margin: 0 auto;
    width: 90%;
}

html,
body {
    width: 100%;
    text-align: justify;
}

/*Configuració per al header*/
header {
    display: grid;
    grid-template-columns: 70% 30%;
    background-color: darkblue;
}

/*Amaguem botons i SVGs per defecte*/
button,
svg,
.desplegable {
    display: none;
}

/*Configuració per als enllaços de la navegació*/
nav ul {
    list-style: none;
}

nav ul a {
    text-decoration: none;
    color: wheat;
    margin: 20px;
}

nav ul a:hover,
.desplegable:hover {
    color: #fff;
    text-decoration: underline;
}

/*Configuració per al menú desplegable*/
.desplegable {
    list-style: none;
    border: 1px solid #fff;
    position: absolute;
    top: 5%;
    left: 26%;
    background-color: darkblue;
    padding: 0;
    margin: 0;
}

.desplegable li {
    padding: 2.5px;
    margin: 2.5px;
}

/*Mostrem el menú desplegable al passar el ratolí per sobre*/
nav ul a:nth-child(3):hover+.desplegable {
    display: block;
}

/*Configuració per al formulari*/
form {
    margin: 10px 0 0 15px;
}

label,
footer {
    color: #fff;
}

.text,
.button {
    padding: 5px;
}

.button {
    background-color: skyblue;
    color: navy;
}

/*Configuració per als títols*/
h1 {
    font-size: 4em;
    text-align: center;
}

h2 {
    font-size: 2em;
    transform: translateY(-90%);
}

h1,
h2 {
    color: midnightblue;
}

/*Configuració per als paràgrafs*/
p {
    margin-top: -15px;
    font-size: 20px;
}

/*Configuració per als articles*/
.article1,
.article2 {
    display: grid;
    grid-template-columns: auto auto;
    margin-top: 50px;
}

.contingut-article1 {
    margin-right: 16px;
}

.contingut-article2 {
    margin-left: 16px;
}

/*Configuració per a les imatges*/
img {
    width: 100%;
}

/*Disseny del footer*/
footer {
    background-color: #222;
    margin-top: 40px;
    padding: 20px;
    text-align: center;
}

footer h3 {
    font-size: 20px;
}

footer p {
    font-size: 16px;
}