html,
body {
    margin: 0 auto;
    width: 100%;
    text-align: justify;
}

header,
main {
    margin: 0 auto;
    width: 90%;
}

header {
    display: grid;
    grid-template-columns: 70% 30%;
    background-color: darkblue;
}

/* Ocultem els elements button y svg */
button,
svg {
    display: none;
}

nav ul a {
    text-decoration: none;
    color: wheat;
    margin: 20px;
}

nav ul li {
    list-style: none;
}

nav ul a:hover {
    color: #fff;
    text-decoration: underline;
}

.desplegable {
    display: none;
    list-style: none;
    border: 1px solid #fff;
    position: absolute;
    top: 5%;
    left: 26%;
    background-color: darkblue;
    padding: 0;
    margin: 0;
}

.desplegable li {
    padding: 2.5px;
    margin: 2.5px;
}

/* Mostrem el menú desplegable al passar el ratolí por damunt */
.desplegable:hover {
    display: block;
}

/* Mostrem el menú desplegable al passar el ratolí per el tercer enllaç dins del nav */
nav ul a:nth-child(3):hover+.desplegable {
    display: block;
}

/* Configurem el margen del formulari */
form {
    margin: 10px 0 0 15px;
}

label {
    color: #fff;
}

.text,
.button {
    padding: 5px;
}

.button {
    background-color: skyblue;
    color: navy;
}

h1 {
    font-size: 4em;
    text-align: center;
}

h2 {
    font-size: 2em;
    transform: translateY(-90%);
}

h1,
h2 {
    color: midnightblue;
}

p {
    margin-top: -15px;
    font-size: 20px;
}

.article1,
.article2 {
    display: grid;
    grid-template-columns: auto auto;
    margin-top: 50px;
}

/* Configurem el espai entre les imatges i el text*/
.contingut-article1 {
    margin-right: 18px;
}

.contingut-article2 {
    margin-left: 18px;
}

/* Establece la anchura de las imágenes */
img {
    width: 100%;
}

/* Configurem el footer */
footer {
    background-color: #222;
    color: #fff;
    margin-top: 40px;
    padding: 20px;
    text-align: center;
}

footer h3 {
    font-size: 20px;
}

footer p {
    font-size: 16px;
}