.container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}

[role="table"] {
	display: table;
	margin: auto;
}

[role="table"] > div[id] {
	display: table-caption;
	font-style: italic;
}

[role="table"] [role="row"] {
	display: table-row;
}

[role="table"] [role="cell"],
[role="table"] [role="columnheader"] {
	display: table-cell;
	padding: 0.5em;
}

[role="table"] [role="columnheader"] {
	font-weight: bold;
	border-bottom: thin solid #888;
}

[role="table"] [role="rowgroup"]:last-child [role="row"]:nth-child(odd) {
	background-color: #ddd;
}
footer {
	position: fixed;
	bottom: 0;
	padding: 10px;
	width: 1200px;
}
